; base.base_target

[project]
bundle_resources = /assets/resourse,/main/sdk/sber_canvas/files/

[platform]
platform = sber_canvas

[html5]
htmlfile = /assets/html5/preloader/preloader_template.html